@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --font-primary: 'DM Sans', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    --swiper-theme-color: #af1313; 
}

html {
    scroll-behavior: auto;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--font-primary);
    color: #af1313;
}

body {
    font-family: var(--font-secondary);
    background-color: #252525;
}

.nav_logo_img_mobile {
    max-width: 30%;
    height: auto;
    margin-top: 18px;
    margin-right: 60%;
}

.service-section .box {
    margin-top: 90px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #d2d2d2;;
    padding: 35px;
}

.popular-listing {
    margin-top: 10px;
    background-color: #252525;
}

.logo_footer {
    max-width: 10%;
}

.logoheader {
    max-width: 30%;
}

.footer_one {
    background-color: #252525;
}
.casetitle {
    border-bottom: 1px solid #3e3e3e;
    padding-bottom: 35px;
}
.footer_mailchimp_form button {
    background-color: #af1313;
    color: white;
}

.scrollToHome {
    background-color: #af1313;
}

.carlisting-popular-vehicles .listing_footer ul li {
    color: white;
}

.flaticon-road-perspective {
    color: #af1313;
}

.flaticon-gas-station {
    color: #af1313;
}

.half-bg-img-divider {
    background-color: #252525;}

.bg-home5 {
    height: 750px;
}

.btn-modal:active {
    background-color: #851010;
    border: #851010;
}

.btn-modal:focus {
    background-color: #851010;
    border: #851010;
}

.bgc-thm2 {
    background-color: #af1313;
}

.btn-thm {
    background-color: rgb(42, 42, 42);
    border: 1px solid rgb(20, 20, 20);
    color: white;
}

.btn-thm:hover {
    background-color: rgb(20,20,20);
    border: 1px solid rgb(20, 20, 20);
    color: #af1313;
    }

.testing {
    margin-left: -25px;
}

.hp {
    max-width: 65%;
}

.home_content_home5_style .wrapper a.btn {
    color: white;
}

.text-thm {
    color: #af1313;
}

.article {
    margin-bottom: 50px;
}

.logoheader {
    max-width: 35%;
    padding: 350px 0 0;
}

.contact-form-box {
    margin-left: 15px;
    background-color: #252525;
    padding: 55px;
    border-radius: 20px;
}

.cta-form-box {
    background-color: white;
    padding: 0 0 40px 0;
    border-radius: 20px;
}

textarea.form-control{
    border: 1px solid #3e3e3e;
}

.form-control {
    background-color: #252525;
    color: white;
    border: 1px solid #3e3e3e;
}

.btn-send {
    background-color: #af1313;
    color: white;
    border: 1px solid #af1313;
    border-radius: 15px;
    width: 510px;
    height: 35px;
    overflow: hidden;
}

.sub-title h2{
    margin-left: 70px;
}

.form-group {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    color: white;
    display: inline-block;
}

.home_content_home5_style .wrapper {
    padding: 50px 0 210px;
    position: relative;
}

.service-section {
    background-color: #e3e3e3;
}

.our-testimonial {
    background-color: #e3e3e3;
}

.form-control:focus {
    color: white;
    background-color: #252525;
}

::placeholder {
    color: #5F6973;
}

input {
    color: white;
}

.cta-label {
    color: #252525;
}

.form-control1 {
    background-color: #e3e3e3;
    color: black;
    border: 1px solid #EAEAEA;
    height: 50px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height:1.5;
    background-color: #fff;
    background-clip : padding-box;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control1:focus {
    color: black;
}

.form-control1:active, .form-control1:focus, .form-control1:visited, .form-control1:visited {
    box-shadow: none;
    outline: none;
    color: black;
}

.textarea.form-control1 {
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    height: auto;
    padding-left: 20px;
    padding-top: 20px;
}

.textarea.form-control1 {
    min-height: calc(1.5em + 0.75rem + 2px);
}

.cta-image {
    border-radius: 10px;
}

.cta-btn {
    width: 420px;
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
    
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.navbar-nav {
    margin-left: 950px !important;
}

.navbar {
    transition: all 0.4s;
}

.ctah2 {
    font-size: 30px !important;
}
.cta-area {
    padding: 0px 0 !important;
    background: transparent;
}

.parallax-container {
    height: 350px;
    background: #0000009e;
}

.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    max-width: 380%;
    visibility: hidden;
}

.navbar.active .navbar-brand img{
    transition: all 0.4s;
    visibility: visible;
}

@media (max-width:400px) {
    .btn-send {
        max-width: 252px;
    }
    .sub-title h2 {
        margin: 0 0 0 0;
    }

    .logo_footer {
        max-width: 65%;
    }

    .btn-modal {
        padding: 6.5px !important;
    }
}

@media (width:414px) {
    .btn-send {
        max-width: 268px;
    }
    .sub-title h2 {
        margin: 0 0 0 0;
    }

    .logo_footer {
        max-width: 65%;
    }

    .bg-home5 {
        background-image: url(../images/mobilew.jpg);
        max-width: 450px;
        max-height: 720px;
    }

    .btn-modal {
        padding: 7.5px !important;
    }

    .navbar {
        display: none;
    }
}


@media (max-width:980px) {
    .navbar-brand img {
        display: none;
    }
    .navbar.active .navbar-brand img{
        display: none;
    }
    .sub-title h2 {
        padding: 50px 0 0 0;
    }
}

.navbar.active .nav-link {
    color: #555;
}

.form-control1:focus-within {
    color: black;
}

.form-control1:target {
    color: black;
}

.form-control1:hover {
    color: black;
}

.form-control1:visited {
    color: black !important;
}

.form-control1:focus-visible {
    color: black !important;
}

.btn-whatsapp {
    background-color: #48c740;
    color: white;
    height: 65px;
    font-weight: 600;
    line-height: 37px;
    border-radius: 8px;
    margin-top: 15px;
    width: 100%;
}

.wpp-icon {
    height: 20px;
    padding-left: 10px;
}

.form-group1 {
    margin-top: 20px;
}

#exampleModalXl {
    backdrop-filter: brightness(0.3);
}

.btn-modal {
    background-color:#af1313;
    border-color: #af1313;
    border-radius: 8px;
    padding: 20px 35px;
    width: auto;
}

.btn-modal:hover {
    background-color: #af1313;
    border-color: #af1313;
}

.bootstrap-select a.dropdown-item {
    color: #252525 !important;
}

.bootstrap-select a.dropdown-item:hover {
    color: #851010 !important;
}

.featured-cta-list {
    padding: 30px;
}
