@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --font-primary: 'DM Sans', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--font-primary);
    color: #851010;
}

body {
    font-family: var(--font-secondary);
    background-color: #252525;
}

.nav_logo_img_mobile {
    max-width: 30%;
    height: auto;
    margin-top: 18px;
    margin-right: 60%;
}

.service-section .box {
    margin-top: 90px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    background-color: #ffff;
    border-radius: 10px;
    padding: 35px;
}

.popular-listing {
    margin-top: 10px;
    background-color: #252525;
}

.logoheader {
    max-width: 30%;
}

.footer_one {
    background-color: #252525;
}

.footer_mailchimp_form button {
    background-color: #851010;
    color: white;
}

.scrollToHome {
    background-color: #851010;
}

.carlisting-popular-vehicles .listing_footer ul li {
    color: white;
}

.flaticon-road-perspective {
    color: #851010;
}

.flaticon-gas-station {
    color: #851010;
}

.half-bg-img-divider {
    background-color: #252525;}

.bg-home5 {
    height: 750px;
}

.bgc-thm2 {
    background-color: #851010;
}

.btn-thm {
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(20, 20, 20);
    color: white;
}

.home_content_home5_style .wrapper a.btn {
    color: white;
}

.text-thm {
    color: #851010;
}

.article {
    margin-bottom: 50px;
}

.logoheader {
    max-width: 35%;
    margin-top: 200px;
}

.contact-form-box {
    margin-left: 65px;
    margin-top: 50px;
    background-color: white;
    padding: 55px;
    border-radius: 20px;
}

.btn-send {
    background-color: #851010;
    color: white;
    border: 1px solid #851010;
    border-radius: 20px;
    padding: 10px 20px;
    overflow: hidden;
}

.sub-title h2{
    margin-left: 70px;
}

.form-group {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

label {
    margin-bottom: 15px;
    display: inline-block;
}